/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*CARLOS

.cuerpo-registro{
    padding: 30px 0px 30px;  
}

.cuerpo-registro .texto{
    margin: 10px 0px 10px;
}

#gym{
    width: 90%;
    height: auto;
    
}

.cuerpo-tabla tr td{
    text-align: center;
}

.cabecera-tabla tr th{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

#agregarPerfil{
    padding-top: 10px;
}

.tipoH2{
    font-size: 30px;
    font-weight: bold;
}

.titulo{
    margin-top: 20px;
    background-color: #d1eaff;
}

.titulo-nombre{
    padding-left: 100%;
}

.img-marca{
    max-height: 200px;
}

.cuerpo-tabla tr td select{
    background-color: #e1ebf4;
    border: none;
}


/*


/*MATIAS

.cuerpo .titulo-cuerpo-login{
    
}

.radio-button-login{
    
    margin-top: 30px;
    font-size: larger;
    color : dimgray;

}

.email_login{
    
    margin-top: 4%;
    margin-bottom: 4%;
    width: 60%;
}

.chkRecordarme{
    font-size: larger;
    color : dimgray;

}

.miBotonIngresar{

    width: 35%;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 5%;

}

.panel_izquierdo{

margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.boton_ingresar{
    
    margin-left: 8%;
    margin-top: 2%;


}

.imagenes_alta_producto{
    width: 180px;
    margin: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.imagenes_alta_sedes{
    width: 98%;

}


.imagenes_productos_abm{

    display: inline-block;
    
}
.imagenes_sedes_abm{

    display: inline-block;
    
}

.agrupador_fotos_productos{

    border-style: groove;

}

.agrupador_fotos_sedes{

    border-style: groove;

}

.agrupador_abmproductos{

    border-style: solid;
    border-color: #a6a8aa;

}

.agrupador_abmSedes{

    border-style: solid;
    border-color: #a6a8aa;

}

.atributos_productos{

    margin-bottom: 30px;
    margin-top: 60px;

}

.atributos_sedes{

    margin-bottom: 30px;
    margin-top: 60px;

}

.boton_agregar_foto{

    margin: 15px;
    margin-left: 70%;

}
.fotos_productos_alineados{
    
    margin: 3%;
}

.fotos_sedes_alineados{
    
    margin: 3%;
}

/*


/*MAURO

#carousel-example-generic{
    margin: 2%;
}

.cuerpo-carrito .menu-carrito a{
    margin-bottom: 10px;
}

.cuerpo-micarrito,
.cuerpo-comprar{    
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-micarrito .img-producto img{
    width: 60px;
}

.cuerpo-micarrito .comprar a{
    float: right;
    margin-right: 15px; 
}

.cuerpo-reservas{
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-reservas .menu-reservas{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightsteelblue;
    margin-bottom: 1%;
}

.cuerpo-reservas .menu-reservas label{
    color: snow;
}

.cuerpo-reservas .menu-reservas button{
    margin-top: 9%;
    margin-left: 20%;
    width: 50%;
}

.cuerpo-comprar .facturacion, .detalle-compra{
    border-style: solid;
    border-width: thin;
    border-color: #a6a8aa;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cuerpo-comprar .facturacion button, input, select{
    margin-bottom: 3%
}

.cuerpo-comprar .pagos-resumen .pagos, .resumen{
     margin: 1%;
}

.cuerpo-comprar .img-producto img{
    width: 60px;
}

.cuerpo-comprar .retiro, .pagos{
    border-style: solid;
    border-width: thin;
    border-color: #a6a8aa;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenedor-principal .menu-logo{
    background-color: #d1eaff;    
}

.contenedor-principal .menu-logo .col-carrito ul{
    margin-left: 60%;
    margin-top: 10px;    
}

.contenedor-principal .menu-logo .col-carrito img{
    height: 35px;   
}

.contenedor-principal .menu-logo .col-carrito .navbar-brand:hover{
    background-color: azure;
}

.contenedor-principal .menu-logo .col-logo img{
    margin-top: 15px;
    margin-bottom: 20px;
}

.contenedor-principal .menu-opciones{
    background-color: #92ccfd;
    border-bottom-style: solid;
    border-bottom-color: #a6a8aa;
}

.contenedor-principal .menu-opciones .col-opciones ul{
    margin-top: 5px;
}

.contenedor-principal .pie {
    text-align: center;
    background-color: #d1eaff;
    border-top-style: solid;
    border-top-color: #a6a8aa;
}

.contenedor-principal .menu-opciones .col-iconos .yt{
    height: 45px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-iconos .fb{
    height: 25px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-iconos .tw{
    height: 25px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-buscar .input-group{
    margin-top: 7px;
    width: 100%;
}

.contenedor-principal .row-cuerpo{
    background-color: aliceblue;
}


.contenedor-principal .row-cuerpo .contenedor-cuerpo, .contenedor-recuperar-password, 
.cuerpo-admin, .cuerpo-abmProductos, .cuerpo-abm{

    background-color: #e1ebf4;
    margin-bottom: 5%;
}

.contenedor-principal .row-cuerpo h2{
    margin-left: 10%;
}

.contenedor-recuperar-password .row-contenido{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
}

.cuerpo-abm #btnCerrar{
    margin-left: 10%;
}

.dropdown-basico{
    height: 35px;
    background-color: white;
}

.cuerpo-abm .col-formulario, .col-img, .col-chkActividades{
    margin-top: 2%;
    margin-bottom: 2%;
}

.cuerpo-abm .col-formulario input{
    width: 60%;
}

.col-img .foto-abmActividades{
    width: 100%;
}


/**/



.flyer{
    text-align: center;
    margin: auto;
}

.container-cuerpo{
    background-color: aliceblue;
}

.cuerpo .titulo-cuerpo{
    margin-left: 240px;
}

.cuerpo-contacto{
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-contacto .row{
    margin-bottom: 15px;
    margin-top: 15px;
}

.cuerpo-contacto .row .col-md-6{
    padding-left: 8%;
}

.cuerpo-contacto .row .col-md-6 img{
    margin-top: 10%;
}

.cuerpo-contacto .texto, textarea, .input-group, .radios{
    margin-bottom: 10px;
    width: 75%;
}

.cuerpo-contacto .btnEnviar input,
.cuerpo-horarios .horarios-opciones .btnEnviar input{
    width: 100px;
}

#googleMap{
    height:380px;
    margin: 2%;
}

.cuerpo-index{
    background-color: #e1ebf4;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cuerpo-index .sedes, .horarios,
.cuerpo-horarios .sedes, .horarios{
    text-align: center;
    background-color: #92ccfd;
    margin: 2%;
    border-radius: 10px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: #a6a8aa;
    border-width: thick;
}

.cuerpo-index .row h2 ,
.cuerpo-horarios .row h2{
    font-size: 24px;
}

.cuerpo-horarios{    
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-horarios .horarios-opciones{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #a6a8aa;
}

.cuerpo-horarios .horarios-opciones select{
    margin-bottom: 25px;
}

.cuerpo-horarios .intro-horarios{
    margin: 20px;
    text-align: justify;
}

.cuerpo-planes, 
.cuerpo-carrito{    
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-planes img{
    height: 150px;
    margin-top: 15px;
    margin-left: 30px;
}

.cuerpo-planes .row{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    border-style: double;
    border-color: #a6a8aa;
}

.cuerpo-planes .row p, ul, li{
    text-align: justify;
}

.cuerpo-carrito .row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.cuerpo-socio{    
    background-color: #e1ebf4;
    margin-bottom: 50px;
}


.cuerpo-socio .row{
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-style: ridge;
    border-color: #a6a8aa;
    border-width: thin;
}
