/*MAURO*/

#carousel-example-generic{
    margin: 2%;
}

.cuerpo-carrito .menu-carrito a{
    margin-bottom: 10px;
}

.cuerpo-micarrito,
.cuerpo-comprar{    
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-micarrito .img-producto img{
    width: 60px;
}

.cuerpo-micarrito .comprar a{
    float: right;
    margin-right: 15px; 
}

.cuerpo-reservas{
    background-color: #e1ebf4;
    margin-bottom: 50px;
}

.cuerpo-reservas .menu-reservas{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightsteelblue;
    margin-bottom: 1%;
}

.cuerpo-reservas .menu-reservas label{
    color: snow;
}

.cuerpo-reservas .menu-reservas button{
    margin-top: 9%;
    margin-left: 20%;
    width: 50%;
}

.cuerpo-comprar .facturacion, .detalle-compra{
    border-style: solid;
    border-width: thin;
    border-color: #a6a8aa;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cuerpo-comprar .facturacion button, input, select{
    margin-bottom: 1%
}

.cuerpo-comprar .pagos-resumen .pagos, .resumen{
     margin: 1%;
}

.cuerpo-comprar .img-producto img{
    width: 60px;
}

.cuerpo-comprar .retiro, .pagos{
    border-style: solid;
    border-width: thin;
    border-color: #a6a8aa;
    margin-top: 1%;
    margin-bottom: 1%;
}

.contenedor-principal .menu-logo{
    background-color: #d1eaff;    
}

.contenedor-principal .menu-logo .col-carrito ul{
    margin-left: 60%;
    margin-top: 10px;    
}

.contenedor-principal .menu-logo .col-carrito img{
    height: 35px;   
}

.contenedor-principal .menu-logo .col-carrito .navbar-brand:hover{
    background-color: azure;
}

.contenedor-principal .menu-logo .col-logo img{
    margin-top: 15px;
    margin-bottom: 20px;
}

.contenedor-principal .menu-opciones{
    background-color: #92ccfd;
    border-bottom-style: solid;
    border-bottom-color: #a6a8aa;
}

.contenedor-principal .menu-opciones .col-opciones ul{
    margin-top: 5px;
}

.contenedor-principal .pie {
    text-align: center;
    background-color: #d1eaff;
    border-top-style: solid;
    border-top-color: #a6a8aa;
    position:fixed;
    bottom:0px;
    width:100%;
}

.contenedor-principal .menu-opciones .col-iconos .yt{
    height: 45px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-iconos .fb{
    height: 25px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-iconos .tw{
    height: 25px;
    display: inline-block;
}

.contenedor-principal .menu-opciones .col-buscar .input-group{
    margin-top: 7px;
    width: 100%;
}

.contenedor-principal .row-cuerpo{
    background-color: aliceblue;
}


.contenedor-principal .row-cuerpo .contenedor-cuerpo, .contenedor-recuperar-password, 
.cuerpo-admin, .cuerpo-abmProductos, .cuerpo-abm{

    background-color: #e1ebf4;
    margin-bottom: 5%;
}

.contenedor-principal .row-cuerpo h2{
    margin-left: 10%;
}

.contenedor-recuperar-password .row-contenido{
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
}

.cuerpo-abm #btnCerrar{
    margin-left: 10%;
}

.dropdown-basico{
    height: 35px;
    background-color: white;
}

.cuerpo-abm .col-formulario, .col-img, .col-chkActividades{
    margin-top: 2%;
    margin-bottom: 2%;
}

.cuerpo-abm .col-formulario input{
    width: 60%;
}

.col-img .foto-abmActividades{
    width: 100%;
}

.abm-contenido{
    margin-top: 3%;
}

.abm-inputs{
    width: 250px;
}

.abm-tablas{
    margin-top: 3%;
}

.productos .item{
    
    margin-bottom: 7%;
}

.productos .item .precio{    
    font-size: 150%;
    background-color: cornflowerblue;
    color: white;
}

#tabla-imagen{
    height: 25%;
}
/**/
